@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 7px;
}


.container {
  @apply max-w-3xl md:max-w-6xl px-[15px] mx-auto;
}
